.idea
.clwb
*.iml
external*
external
/build*
test-build*
cmake-build*
cmake-build-debug
cmake-build-release
*.pem
.DS_Store
/bazel-*
typesense-server-data/
typesense-data
.clwb/.bazelproject
.vscode/settings.json
/onnxruntime-prefix
.secrets
/dist
/artifacts/
/release/
/tmp
*.tar.gz
/hf_cache/
/typesense-server-binary/
/typesense-runtime-bundle/
/typesense-runtime-bundle-*/
__pycache__/
/api_tests/tmp/
