.idea
.clwb
*.iml
external*
external
/build*
test-build*
cmake-build*
cmake-build-debug
cmake-build-release
*.pem
.DS_Store
/bazel-*
typesense-server-data/
typesense-data
.clwb/.bazelproject
.vscode/settings.json
/onnxruntime-prefix
.secrets
/dist
/tmp
*.tar.gz
/hf_cache/
/typesense-server-binary/
/typesense-runtime-bundle/
/api_tests/tmp/
